
.manageList{
    width: 100%;
    .content{
        width: 90%;
        margin: 50px auto 0;
    }
    .selectItem{
        .ant-select{
            margin-right: 50px;
        }
    }
    .ant-list{

    }
    .personal .ant-list {
        width: 100%;
        overflow-y: scroll;
        .ant-spin-nested-loading{
            margin: 0 50px;
        }
        .ant-list-pagination{
            margin: 20px 50px;
            text-align: center;
        }
    }
}