.ant-layout-header{
    overflow: hidden;
    height: 260px;
    padding: 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 260px;
    line-height: 260px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
.ant-carousel .slick-slide img{
    height: 260px;
    width: 100%;
}