<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script type='text/template' id='allArticle'>
        <div class='col-md-11 news-1'>
            <a href='/article?ID={{=ID}}'><h5>{{=topic}}</h5></a>
            <h6>{{=date}}</h6>
        </div>
        <div>
            <h6>
                分类：{{=classify}} | 浏览：{{=visitNum}}
                <a href = '/article?ID={{=ID}}'>阅读全文</a>
            </h6>
        </div>
    </script>
</body>
</html>